/* Estilos Globales */
body {
    background-color: #fce4ec; /* Fondo Rosa Pastel */
}

/* Títulos de Vitalfisio */
.seccion-titulo {
    color: #c2185b; /* Rosa fuerte */
    font-weight: bold;
    border-bottom: 3px solid #f06292;
    padding-bottom: 5px;
    margin-bottom: 25px;
    display: inline-block;
}

/* Ajuste de Imágenes del Carrusel */
.carousel-item img {
    height: 450px;
    object-fit: cover; /* Evita que las fotos se deformen */
}

/* Estilo para que la tabla y formulario sean blancos */
.table, #formulario {
    background-color: #ffffff !important;
    border-radius: 8px;
    overflow: hidden;
}

/* Ajuste Responsivo para Móviles */
@media (max-width: 768px) {
    .carousel-item img {
        height: 250px;
    }
}